.show_hide_layout{
    max-width: 95%;
    margin: 2em auto;
    background-color: #fff;
    box-shadow: 0px 1px 2px #ccc;
    padding: 5px;
    padding-left: var(--font-M);
    padding-right: var(--font-M);
    min-height: 2em;
    border-radius: 3px;
}

.underline{
    border-top: 1px solid #ccc;
}
.show_hide_layout form{
    width: 100%;
}
.show_hide_layout .right{
    width: 20%;
    background-color: red;
    max-height: 40px;
}

.head{
    min-height: 30px;
    cursor: pointer;
}

.bottom5{
    margin-bottom: 5px;
}

.register_todo {
    width: 100%;
    height: 40px;

}

.register_todo label{
    text-align: left;
    align-items: center;
    height: 25px;
}

.register_todo input,.form_select{
    outline: none;
    border: none;
    height: 20px;
    background-color: rgba(204, 204, 204, 0.357);
    margin-left: var(--font-M);
    padding-left: var(--font-M);
    padding-right: var(--font-M);
    width: 15em;
}

.files{
    margin-top: 5px;
}
.files input,.files label{
    width: 100%;
    text-align: left;
    align-items: flex-start;
    height: 30px;
}

.calendrier{
    width: 30%;
}

.demandes_head{         
    font-weight: 900;
    color: var(--color-primary-light);
    font-size: var(--font-M);
}

.demande{
    min-width: 200px;
    min-height: 100px;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
}



.more {
    margin-left: var(--font-M);
    cursor: pointer;
}

.more a{
    text-decoration: none;

}

.more_btn{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--color-primary-light);
    color: #fff;
    font-weight: 900;
}

@media screen and (max-width:900px){

    .new_demande{
        display: flex;
        flex-direction: column;
    }

    .calendrier{
        margin: 0 auto;
        width: 90%;
    }
}

@media screen and (max-width:500px){
    .show_hide_layout div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.3em;
    }
    .demandes_link{
        display: flex;
        flex-direction: column;
    }

    .register_todo_container .register_todo{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: max-content;
    }

    .register_todo_container .register_todo{
        margin-bottom: 10px;
    }

    .register_todo div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        width: 100%;
        align-items: flex-start;
    }
    .register_todo_container .underline{
        padding-top: var(--font-M);
    }
    .statut{
        position: absolute;
        right: 0;
    }
    .show_more{
        max-height: 10px;
        padding: 1em;
    }
    .calendrier{
        margin: 0 auto;
        width: 90%;
    }

}
